
.logo-img {
    width: 80px;
}
.side-bar {
margin-top: 10px;

}
.side-bar button{
    border: none;
    padding: 10px;
    background: transparent;
}
.link-button button {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 40px;
}
.link-button {
    display: flex;
    padding: 20px 0 50px;
}
.link-button button.active {
    background: lightgreen;
}
table.table td {
    border: 1px solid #dee2e6;
}
table.table tr td input {
    border: none;
    width: 100%;
}
table.table tr td {
    padding: 0;
    margin: 0;
}

               
.row.text-initial {
    text-align: initial !important;
}

